
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
  <img src="https://image.flaticon.com/icons/png/512/87/87390.png" width="30px" style="margin-right: 10px;">
  <a class="navbar-brand" href="#">Micro Instagram</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" [routerLink]="['/posts']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/posts/new']">Create New Post</a>
      </li>

    </ul>
  </div>
</nav>
